.AI-assistant {
    background-color: #292c31;
    position: relative;
    left: 75%;
    top: 25%;
    display: flow;
    justify-content: center;
    width: 405px;
    height: 540px;
}

.AI-assistant #message-box {
    flex-grow: 1;
    height: auto;
    width: auto;
    position: static;
    overflow: auto;
}

.AI-assistant .box {
    background-color: #292c31;
    border: 1px solid;
    border-color: #2da0da;
    height: 100%;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.AI-assistant .text-field {
    height: auto;
    left: 4px;
    position: static;
    top: 480px;
    width: 100%;
    align-self: flex-end;
}

.AI-assistant .rectangle {
    background-color: #292c31;
    border-radius: 20px;
    height: 53px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 397px;
}

.AI-assistant .search {
    align-items: center;
    background-color: var(--color-background-default-default);
    border: 1px solid;
    border-color: var(--color-border-default-default);
    border-radius: var(--size-radius-full);
    display: flex;
    gap: var(--size-space-200);
    height: 55px;
    left: 3px;
    overflow: hidden;
    padding: var(--size-space-300) var(--size-space-400) var(--size-space-300)
    var(--size-space-400);
    position: static;
    top: 0;
    width: 371px;
}

.AI-assistant .value {
    background: transparent;
    border: none;
    color: var(--color-text-default-secondary);
    flex: auto;
    font-family: "Roboto Flex-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    padding: 0;
    position: relative;
}

.AI-assistant .submit {
    background: transparent;
    border: none;
    flex: auto;
}

.AI-assistant .chevron-right {
    height: 16px;
    position: relative;
    width: 16px;
}

.AI-assistant .x {
    height: 16px;
    width: 16px;
}

.AI-assistant .header {
    padding: var(--size-space-200);
    height: 32px;
    position: static;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--size-space-200);
}

.AI-assistant .chat-title {
    color: #ffffff;
    font-family: "Roboto Flex-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    height: 20px;
    left: 0;
    letter-spacing: 0.50px;
    line-height: 24px;
    text-align: center;
    vertical-align: center;
    top: 0;
    width: 256px;
    flex-grow: 1;
}

.AI-assistant .img {
    height: 16px;
    left: 6px;
    position: absolute;
    top: 6px;
    width: 16px;
}

.AI-assistant .line {
    height: 1px;
    object-fit: cover;
    width: 389px;
    position: absolute;
    left: var(--size-space-200);
}

.AI-assistant .pfp {
    height: 32px;
    left: 12px;
    object-fit: cover;
    position: static;
    width: 32px;
}

.AI-assistant .overlap-2 {
    height: 41px;
    left: 66px;
    position: absolute;
    top: 62px;
    width: 323px;
}

.AI-assistant .content {
    font-family: "Roboto Flex-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    height: 16px;
    letter-spacing: 0.50px;
    line-height: 16px;
    width: auto;
}

.AI-assistant .help {
    color: #ffffff;
    font-family: "Roboto Flex-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    height: 13px;
    letter-spacing: 0.50px;
    line-height: 16px;
    white-space: nowrap;
    width: auto;
}

.AI-assistant .ai-message {
    margin: var(--size-space-200);
    width: auto;
    display: flex;
    flex-direction: row;
    gap: var(--size-space-200);
}

.AI-assistant .ai-text-bubble {
    background-color: #00a0d6;
    border-radius: 16px;
    height: auto;
    left: 0;
    position: relative;
    top: 0;
    width: auto;
    padding: var(--size-space-200);
    color: white;
    word-break: break-word;
}

.AI-assistant .user-message {
    margin: var(--size-space-200);
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: var(--size-space-200);
}

.AI-assistant .user-text-bubble {
    background-color: white;
    border-radius: 16px;
    height: auto;
    left: 0;
    position: relative;
    top: 0;
    width: auto;
    padding: var(--size-space-200);
    color: black;
    word-break: break-word;
}