:root {
    --m3-body-large-font-family: "Roboto", Helvetica;
    --m3-body-large-font-size: 16px;
    --m3-body-large-font-style: normal;
    --m3-body-large-font-weight: 400;
    --m3-body-large-letter-spacing: 0.5px;
    --m3-body-large-line-height: 24px;
    --m3-body-small-font-family: "Roboto", Helvetica;
    --m3-body-small-font-size: 12px;
    --m3-body-small-font-style: normal;
    --m3-body-small-font-weight: 400;
    --m3-body-small-letter-spacing: 0.4000000059604645px;
    --m3-body-small-line-height: 16px;
    --m3-display-large-font-family: "Roboto", Helvetica;
    --m3-display-large-font-size: 57px;
    --m3-display-large-font-style: normal;
    --m3-display-large-font-weight: 400;
    --m3-display-large-letter-spacing: -0.25px;
    --m3-display-large-line-height: 64px;
    --m3-headline-small-font-family: "Roboto", Helvetica;
    --m3-headline-small-font-size: 24px;
    --m3-headline-small-font-style: normal;
    --m3-headline-small-font-weight: 400;
    --m3-headline-small-letter-spacing: 0px;
    --m3-headline-small-line-height: 32px;
    --m3-label-small-font-family: "Roboto", Helvetica;
    --m3-label-small-font-size: 11px;
    --m3-label-small-font-style: normal;
    --m3-label-small-font-weight: 500;
    --m3-label-small-letter-spacing: 0.5px;
    --m3-label-small-line-height: 16px;
}
