.tutorial-page {
    background-color: #21294a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.tutorial-page .div {
    background-color: #21294a;
    height: 100vh;
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-left: 128px;
}

.tutorial-page .screenshot {
    height: 96px;
    object-fit: cover;
    width: auto;
}

.tutorial-page .rectangle {
    background-color: #0a1020;
    height: 96px;
    position: absolute;
    width: 100vw;
}

.tutorial-page .text-wrapper {
    color: #ffffff;
    font-family: "Roboto Flex-Regular", Helvetica;
    font-size: 96px;
    font-weight: 400;
    height: auto;
    width: auto;
    margin-top: 128px;
}

.tutorial-page .menu {
    align-items: flex-start;
    border-radius: 4px;
    display: flex;
    height: auto;
    max-width: 280px;
    padding: 8px 0;
    width: auto;
}

.tutorial-page .menu-list {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 440px;
    margin-bottom: -280.00px;
    margin-right: -528.00px;
    position: relative;
    width: 808px;
}

.tutorial-page .menu-list-item {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 19px 0px;
    position: relative;
    width: 100%;
}

.tutorial-page .state-layer {
    align-items: center;
    align-self: stretch;
    display: flex;
    gap: 12px;
    height: 56px;
    padding: 8px 12px;
    position: relative;
    width: 100%;
}

.tutorial-page .leading-element {
    background-image: url(../../assets/pencil.svg);
    background-size: 100% 100%;
    height: 64px;
    margin-bottom: -12.00px;
    margin-top: -12.00px;
    position: relative;
    width: 64px;
}

.tutorial-page .content {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: -12.00px;
    margin-top: -12.00px;
    position: relative;
}

.tutorial-page .label-text {
    align-self: stretch;
    color: #ffffff;
    font-family: "Roboto Flex-SemiBold", Helvetica;
    font-size: 64px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 64px;
    margin-top: -1.00px;
    position: relative;
    text-decoration: underline;
    cursor: pointer;
}

.tutorial-page .leading-element-2 {
    background-image: url(../../assets/photo.svg);
    background-size: 100% 100%;
    height: 64px;
    margin-bottom: -12.00px;
    margin-top: -12.00px;
    position: relative;
    width: 64px;
}

.tutorial-page .leading-element-3 {
    background-image: url(../../assets/option.svg);
    background-size: 100% 100%;
    height: 64px;
    margin-bottom: -12.00px;
    margin-top: -12.00px;
    position: relative;
    width: 64px;
}

#overlayRoot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.darken {
    background-color: #000000;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: auto;
}

.tutorial-page .box {
    background-color: #0a1020;
    width: 70%;
    height: 70%;
    overflow-y: scroll;
    color: white;
    font-family: "Roboto Flex-SemiBold", Helvetica;
    z-index: 1;
    border-radius: 16px;
    padding: 16px;
}
